.pink {
  color: #ff56a2;
}

.dark .pink {
  color: #ffa6e8;
}

.blue {
  color: #0284c7;
}

.dark .blue {
  color: #7dc0ff;
}

.green {
  color: #059669;
}

.dark .green {
  color: #87cc55;
}

.yellow {
  color: #eab308;
}

.dark .yellow {
  color: #f9cb9c;
}

.red {
  color: #dc2626;
}

.dark .red {
  color: #ff5353;
}

.secondaryList {
  margin-left: 2rem;
}

center > table {
  display: inline-block;
}
