.pink {
  color: #db2777;
}
.dark .pink {
  color: #ffa6e8;
}

.blue {
  color: #0284c7;
}
.dark .blue {
  color: #6fa8dc;
}

.green {
  color: #059669;
}
.dark .green {
  color: #a1ff5e;
}

.yellow {
  color: #eab308;
}
.dark .yellow {
  color: #f9cb9c;
}

.red {
  color: #dc2626;
}
.dark .red {
  color: #ff5353;
}

.secondaryList {
  margin-left: 2rem;
}

center > table {
  display: inline-block;
}
